### Ignore non-relevant files for Latex ###
**/graphics
**/auto


.DS_STORE

### Ignore XCode Projects ###
# Cinder Projects
**/xcode
**/resources
**/assets

# JUCE Projects
**/Builds
**/JuceLibraryCode
JUCESimpleVSynth.jucer

# openFrameworks Projects
**/exploringSoundStream/Makefile
**/linesSketch/Makefile
Project.xcconfig
addons.make
**/bin
config.make
**/exploringSoundStream.xcodeproj
**/linesSketch.xcodeproj
openFrameworks-Info.plist


### Ignore openFrameworks library ###
of_v0.10.1_osx_release/*.md
of_v0.10.1_osx_release/addons/**
of_v0.10.1_osx_release/docs/**
of_v0.10.1_osx_release/examples/**
of_v0.10.1_osx_release/libs/**
of_v0.10.1_osx_release/other/**
of_v0.10.1_osx_release/projectGenerator/**
of_v0.10.1_osx_release/scripts/**

# Ignore openFrameworks Projects (general)
of_v0.10.1_osx_release/apps/*/*/Makefile
of_v0.10.1_osx_release/apps/*/*/*.png
of_v0.10.1_osx_release/apps/*/*/*.xcodeproj